$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$font-stack:'IBM Plex Sans', sans-serif;
$paragraph-size:1.5em;
$queaternion-color:#FA9500;
$heder-margin-top:10px;




@mixin flexcenter($direction, $content, $align ){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;

}

@mixin buttonStyle() {
    button{
     background: none;
     border-style: none;

    }

}

body{
    margin: 0px;
    padding: 0px;
    background-color: $primary-color;
    font-family: $font-stack;

}

nav{
  
    width: auto;
    @include flexcenter(row,space-between ,center ); 
    
    color: $primary-text-color;
    padding: 15px;
    

     p{
       
         font-size: 2.3em ;
         padding-left: 30px;
         margin-top: $heder-margin-top;
         
       
    }

    .icons{
         display:flex;
         gap: 15px;
         margin-bottom: 50px;
         margin-top: $heder-margin-top;
         size: 3em;
         
          @include buttonStyle;
         
    }
}

main{
    background-color: $primary-color;
    width: 100%;
    margin: 0;
   
}


article{
    @include flexcenter( row,space-between ,center   );
    width: auto;
     color: $primary-text-color;
     padding-left: 45px;
     padding-right: 45px;
     padding: 70px;
   


   .impact-section{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 25px;
   }
   
   
    h1{
        font-size: 3em;
        padding: 0px;
        margin: 0px;
    }
    p{
        font-size: $paragraph-size;
        padding-left: 10px;
    }
    @include buttonStyle;
    button{
        width: 17vw;
        padding: 20px;
         background-color:$queaternion-color;
        border-style: none;
        font-size: 1em;
        border-radius: 35px;
        color: white;
        &:hover{
            transform: scale(1.11);
        }
       
    }
    
        img{
            width: 25vw;
            border-radius: 19px; 
           

        }
     }

     
     
section{
    width: auto;
    height: auto;
   
    padding: 60px;
    h2{
        color: $primary-text-color;
        font-size: 2em;
    }

    .healthcare{
padding-bottom: 60px;
        h2{
            font-weight: 300;
            padding-bottom: 40px;
        }
        .card-section{
            @include flexcenter(row,space-evenly ,center );
         
            width: auto;
            height: auto;
            flex-wrap: wrap;
            column-gap: 100px;
            row-gap: 80px;

               
         }

         .product-card{
            width: 14vw;
            height: 70vh;
            background-color: $secondary-color;
            color: $primary-text-color;
            padding: 20px;
            border-radius: 8px;
          .icon{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-bottom : 12px;
            .svg{
                width: 26px;
                height: 26px;
            }
          }

            .product-image{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 12vw;
                    height: 35vh;
                    object-fit: cover;
                    border-radius: 6px;
                
    
                }
            }
            
        }
        
    }
            
    .furniture{
       @extend.healthcare;
        .product-card{
            background-color: $tertiary-color; 
            color: white;
         
        }
       

    }
}


.about-us{
    padding-bottom: 60px;

    h2{
        font-weight: bold;
        padding-bottom: 60px;
    }
    .mission-section{
        
        @include flexcenter(row ,space-evenly,center );
         .earth{
            width: 30vw;
            display: flex;
            gap: 40px;
            color: #E86424;
            img{
                object-fit: contain;
            }
            p{
                text-align: center;
                font-size: 1.2em;
                
            }

         }
        
        
    }

    .innovation{
        @extend .earth;
    }
}



.gallery{
    h2{
        font-weight: bold;
        padding-bottom: 60px;
    }
    .gallery-images{
      @include flexcenter(row,space-between ,center );
      
        img{
            width: 27vw;
            height: 70vh;
            object-fit: cover;
            
            border-radius: 16px;
            &:hover{
                transform: scale(1.11);
            }
           
        }
    }
}

footer{
  
    background-color: $queaternion-color;  
    width: 100%;
    height: 250px;
    margin-top: 0;
}
