$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$font-stack:'IBM Plex Sans', sans-serif;
$paragraph-size:1.5em;
$queaternion-color:#FA9500;
$heder-margin-top:10px;



body{
    margin: 0px;
    padding: 0px;
    background-color: $primary-color;
    font-family: $font-stack;

}

nav{
    
    width: auto;
    display: flex;
    justify-content: space-between;
    color: $primary-text-color;
    padding: 15px;
    

     p{
       
         font-size: 2.3em ;
         padding-left: 30px;
         margin-top: $heder-margin-top;
         
       
    }

    .icons{
         display:flex;
         gap: 15px;
         margin-bottom: 50px;
         margin-top: $heder-margin-top;
         size: 3em;
         
          
          button{
            background: none;
            border-style: none;
           }
    }
}

main{
    background-color: $primary-color;
    width: 100%;
    margin: 0;
   
}


article{
    width: auto;
     color: $primary-text-color;
     padding-left: 45px;
     padding-right: 45px;
     padding: 70px;
   display: flex;
   justify-content: space-between;


   .impact-section{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 25px;
   }
   
   
    h1{
        font-size: 3em;
        padding: 0px;
        margin: 0px;
    }
    p{
        font-size: $paragraph-size;
        padding-left: 10px;
    }
    button{
        width: 12vw;
        padding: 20px;
         background-color:$queaternion-color;
        border-style: none;
        font-size: 1em;
        border-radius: 35px;
        color: white;
    }
    
        img{
            width: 25vw;
            border-radius: 19px; 
           

        }
     }

     
     
section{
    width: 100%;
    height: auto;
   
    padding: 60px;
    h2{
        color: $primary-text-color;
        font-size: 2em;
    }

    .healthcare{

        h2{
            font-weight: 300;
            padding-bottom: 60px;
        }
        .product-card{
            width: 15vw;
            height: auto;
            background-color: $secondary-color;
            color: $primary-text-color;
            padding: 20px;
            border-radius: 8px;
            img{
                width: 100px;
            

            }
        }
    }

}



footer{
  
    background-color: $queaternion-color;  
    width: 100%;
    height: 250px;
    margin-top: 0;
}
